<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.cimsbioko" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <permission android:name="org.cimsbioko.permission.READ_SETTINGS" android:protectionLevel="signature"/>

    <application
        android:name="org.cimsbioko.App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name=".provider.ContentProvider"
            android:authorities="org.cimsbioko"
            android:exported="false"/>

        <provider
            android:name=".provider.SettingsProvider"
            android:authorities="org.cimsbioko.settings"
            android:exported="true"
            android:readPermission="org.cimsbioko.permission.READ_SETTINGS"/>

        <uses-library android:name="com.google.android.maps"/>

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FieldWorkerLoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.PreferenceActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".activity.FieldWorkerLoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.FieldWorkerLoginActivity" />
        </activity>
        <activity
            android:name=".activity.HierarchyNavigatorActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.FieldWorkerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FieldWorkerActivity" />
        </activity>
        <activity
            android:name=".activity.FieldWorkerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.FieldWorkerLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FieldWorkerLoginActivity" />
        </activity>
        <activity android:name=".activity.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.cimsbioko.ENTITY_LOOKUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".activity.DeviceAuthenticatorActivity" />
        <activity android:name=".activity.SetupChecklistActivity" />
        <activity android:name=".activity.SyncDbActivity"
                  android:parentActivityName=".activity.FieldWorkerLoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.FieldWorkerLoginActivity" />
        </activity>
        <activity android:name=".activity.ManageFormsActivity"
                  android:parentActivityName=".activity.FieldWorkerLoginActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.FieldWorkerLoginActivity" />
        </activity>
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchableActivity" />
        <service android:name=".syncadpt.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name=".syncadpt.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>
        <service
            android:name=".search.IndexingService"
            android:exported="false">
        </service>
        <service
            android:name=".offlinedb.OfflineDbService"
            android:exported="false"/>
        <receiver android:name=".syncadpt.SyncCancelReceiver">
            <intent-filter>
                <action android:name="org.cimsbioko.SYNC_CANCELLED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>